/* General Section Styling */
.heroSection {
    background-color: #292524;
    color: #f1f1f1;
    padding: 6rem 1.5rem; /* Equivalent to py-24 */
  }
  
  .heroContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .heroLeftColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  
  /* Typography Styling */
  .subheading {
    font-size: 3rem; /* Increase size */
    font-weight: 600;
    color: white;
    margin-left: 20px; /* Shift to the left */
  }
  
  .heroHeading {
    font-size: 1.9rem; /* Increase size */
    font-weight: 600;
    color: white;
    margin-left: 20px; /* Shift to the left */
  }
  
  .heroHeadingSpan {
    color: #ffb300; /* Custom yellow for highlighted text */
  }
  
  .typingText {
    font-size: 1.5rem; /* Increase font size */
    font-weight: 300;
    margin-left: 20px; /* Shift to the left */
  }
  
  .heroSubtitle {
    font-size: 1rem; /* Increase size */
    color: white;
    margin-left: 20px; /* Shift to the left */
  }
  
  /* Button Styling */
  .heroButtonContainer {
    margin-top: 2rem; /* Equivalent to mt-8 */
  }
  
  .heroButton {
    padding: 0.5rem 1.5rem;
    background-color: #ffb300;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 17px;
  }
  
  .heroButton:hover {
    background-color: #4f46e5; /* hover:bg-indigo-600 */
  }
  